@font-face {
    font-display: swap;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('../files/Noto-sans-jp-Regular.woff2') format('woff2'),
     url('../files/Noto-sans-jp-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../files/Noto-sans-jp-Medium.woff2') format('woff2'),
     url('../files/Noto-sans-jp-Medium.woff') format('woff');
  }